.wrp {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content_container {
    width: 80%;
    padding: 0 20px 0 20px;
    min-height: 100%;
    margin: 0 auto;
}

.header_container {
    background: rgba(0, 0, 0, 0.5);
    min-height: 75px;
    display: flex;
    align-items: center;
}

.footer_container{
    margin-top: auto;
}

.links {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    list-style-type: none;
    color: #03e9f4;
    background: none;
    border: none;
}

.active_link {
    color: #fff;
}