.wrp {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content_container {
    width: 80%;
    padding: 0 20px 0 20px;
    min-height: 100%;
    margin: 0 auto;
}

.header_container {
    background: #00000080;
    min-height: 75px;
    display: flex;
    align-items: center;
}

.footer_container{
    margin-top: auto;
}

.links {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link {
    list-style-type: none;
    background: none;
    border: none;
}