.container {
    color: #03e9f4;
    padding: 10px 20px;
    font-size: 16px;
    margin: 20px 20px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 10px;
}