.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.modalContainer {
    max-width: 600px;
    width: 100%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    z-index: 99999;
}

.closeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0;
    background: none;
    border: none;
    color: #03e9f4;
    width: 30px;
    height: 30px;
    position: fixed;
    top: 10px;
    right: 30px;
    cursor: pointer;
}

.closeBtn:hover {
        background: #ff6781;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #ff6781, 0 0 25px #ff6781, 0 0 50px #ff6781,
        0 0 100px #ff6781;
}