.login_wrp {
    width: 450px;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.8);
}

.login_title {
    font-size: 40px;
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    position: relative;
    top: -60px;
    letter-spacing: 1px;
}

.login_title::before {
    position: absolute;
    content: "";
    left: 25%;
    bottom: -12px;
    border-radius: 4px;
    height: 3px;
    width: 50%;
    background: linear-gradient(166deg, rgb(249, 123, 30) 25%, rgb(205, 40, 149) 81%);
}

.user_wrp {
    position: relative;
}

.user_input {
    width: 100%;
    padding: 15px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 30px;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.user_label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.user_input:focus~.user_label,
.user_input:valid~.user_label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login_btn {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-transform: uppercase;
    margin: 40px 0 20px 0;
    letter-spacing: 4px;
    background: none;
    border: none;
}

.to_another_form {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    color: #03e9f4;
    background: none;
    border: none;
    text-align: center;
}

.login_btn:hover,
.to_another_form:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}